// Default state: Hidden on Desktop (prevent layout shift)
.menu-icon-checkbox,
.menu-icon-label,
.nav-animated {
    display: none;
}

// Animated Mobile Menu (Only for mobile devices)
@media screen and (max-width: 1199px) {

    // Hide default mobile menu
    .ibew-mobile-menu {
        display: none !important;
    }

    // Checkbox for menu toggle
    [type="checkbox"].menu-icon-checkbox:checked,
    [type="checkbox"].menu-icon-checkbox:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    // Menu Icon (Hamburger)
    .menu-icon-checkbox:checked+label.menu-icon-label,
    .menu-icon-checkbox:not(:checked)+label.menu-icon-label {
        position: fixed;
        top: 63px;
        right: 55px;
        display: block;
        width: 30px;
        height: 30px;
        padding: 0;
        margin: 0;
        cursor: pointer;
        z-index: 10000;
    }

    .menu-icon-checkbox:checked+label.menu-icon-label:before,
    .menu-icon-checkbox:not(:checked)+label.menu-icon-label:before {
        position: absolute;
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        z-index: 20;
        top: 0;
        left: 0;
        border-top: 2px solid #ececee;
        border-bottom: 2px solid #ececee;
        transition: border-width 100ms ease,
            top 100ms cubic-bezier(0.23, 1, 0.32, 1),
            height 100ms cubic-bezier(0.23, 1, 0.32, 1),
            background-color 200ms ease,
            transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu-icon-checkbox:checked+label.menu-icon-label:after,
    .menu-icon-checkbox:not(:checked)+label.menu-icon-label:after {
        position: absolute;
        content: '';
        display: block;
        width: 22px;
        height: 2px;
        z-index: 20;
        top: 10px;
        right: 4px;
        background-color: #ececee;
        margin-top: -1px;
        transition: width 100ms ease,
            right 100ms ease,
            margin-top 100ms ease,
            transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu-icon-checkbox:checked+label.menu-icon-label:before {
        top: 10px;
        transform: rotate(45deg);
        height: 2px;
        background-color: #ececee;
        border-width: 0;
        transition: border-width 100ms ease,
            top 100ms cubic-bezier(0.23, 1, 0.32, 1),
            height 100ms cubic-bezier(0.23, 1, 0.32, 1),
            background-color 200ms ease,
            transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu-icon-checkbox:checked+label.menu-icon-label:after {
        width: 30px;
        margin-top: 0;
        right: 0;
        transform: rotate(-45deg);
        transition: width 100ms ease,
            right 100ms ease,
            margin-top 100ms ease,
            transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    // Animated Nav Container
    .nav-animated {
        position: fixed;
        top: 33px;
        right: 30px;
        display: block;
        width: 80px;
        height: 80px;
        padding: 0;
        margin: 0;
        z-index: 9999;
        overflow: hidden;
        box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
        background-color: #353746;
        animation: border-transform 7s linear infinite;

        // Closing Transition (Fast)
        transition: top 350ms 200ms cubic-bezier(0.23, 1, 0.32, 1),
            right 350ms 200ms cubic-bezier(0.23, 1, 0.32, 1),
            transform 250ms 200ms ease,
            width 350ms 0ms cubic-bezier(0.23, 1, 0.32, 1),
            height 350ms 0ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    @keyframes border-transform {

        0%,
        100% {
            border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
        }

        14% {
            border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
        }

        28% {
            border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
        }

        42% {
            border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
        }

        56% {
            border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
        }

        70% {
            border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
        }

        84% {
            border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
        }
    }

    .menu-icon-checkbox:checked~.nav-animated {
        animation-play-state: paused;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        width: 200%;
        height: 200%;

        // Opening Transition (Immediate & Snappy)
        transition: top 350ms 0ms cubic-bezier(0.23, 1, 0.32, 1),
            right 350ms 0ms cubic-bezier(0.23, 1, 0.32, 1),
            transform 250ms 0ms ease,
            width 500ms 0ms cubic-bezier(0.23, 1, 0.32, 1),
            height 500ms 0ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .nav-animated ul {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 6;
        text-align: center;
        transform: translateY(-50%);
        list-style: none;
    }

    .nav-animated ul li {
        position: relative;
        display: block;
        width: 100%;
        padding: 0;
        margin: 10px 0;
        text-align: center;
        list-style: none;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
        transition: all 250ms linear;
    }

    .nav-animated ul li:nth-child(1) {
        transition-delay: 50ms;
    }

    .nav-animated ul li:nth-child(2) {
        transition-delay: 100ms;
    }

    .nav-animated ul li:nth-child(3) {
        transition-delay: 150ms;
    }

    .nav-animated ul li:nth-child(4) {
        transition-delay: 200ms;
    }

    .nav-animated ul li:nth-child(5) {
        transition-delay: 250ms;
    }

    .nav-animated ul li:nth-child(6) {
        transition-delay: 300ms;
    }

    .nav-animated ul li a {
        font-family: 'Montserrat', sans-serif;
        font-size: 8vh;
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 800;
        display: inline-block;
        position: relative;
        color: #ececee;
        transition: all 250ms linear;
        text-decoration: none;
    }

    .nav-animated ul li a:hover {
        text-decoration: none;
        color: #ffeba7;
    }

    .nav-animated ul li a:after {
        display: block;
        position: absolute;
        top: 50%;
        content: '';
        height: 2vh;
        margin-top: -1vh;
        width: 0;
        left: 0;
        background-color: #353746;
        opacity: 0.8;
        transition: width 250ms linear;
    }

    .nav-animated ul li a:hover:after {
        width: 100%;
    }

    .menu-icon-checkbox:checked~.nav-animated ul li {
        pointer-events: auto;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: opacity 350ms ease, transform 250ms ease;
    }

    // Staggered Entrance (Much Faster)
    .menu-icon-checkbox:checked~.nav-animated ul li:nth-child(1) {
        transition-delay: 200ms;
    }

    .menu-icon-checkbox:checked~.nav-animated ul li:nth-child(2) {
        transition-delay: 250ms;
    }

    .menu-icon-checkbox:checked~.nav-animated ul li:nth-child(3) {
        transition-delay: 300ms;
    }

    .menu-icon-checkbox:checked~.nav-animated ul li:nth-child(4) {
        transition-delay: 350ms;
    }

    .menu-icon-checkbox:checked~.nav-animated ul li:nth-child(5) {
        transition-delay: 400ms;
    }

    .menu-icon-checkbox:checked~.nav-animated ul li:nth-child(6) {
        transition-delay: 450ms;
    }

    // Hide the old mobile toggle button
    .ibew-mobile-toggle {
        display: none !important;
    }
}